<h2><%= @source.identifier.capitalize %> Stats</h2>

<h3>URLs By Requests</h3>
<table class="table">
  <tr>
    <th>URL</th>
    <th>Requests</th>
  </tr>
  <% @requested_urls.each do |url| %>
    <tr>
      <td><a href="<%= @source.identifier %>/urls/<%= url.path %>">/<%= url.path%></a></td>
      <td><%= url.requests %></td>
    </tr>
  <%end%>
</table>

<h3>URLs By Average Response Time</h3>
<table class="table">
  <tr>
    <th>URL</th>
    <th>Average Response Time</th>
  </tr>
  <% @response_urls.each do |url| %>
    <tr>
      <td><a href="<%= @source.identifier %>/urls/<%= url.path %>">/<%= url.path%></a></td>
      <td><%= url.avg_response_time %></td>
    </tr>
  <%end%>
</table>

<h3>Browser Breakdown</h3>
<% @browsers.each do |browser, payloads| %>
  <h5><%=browser%>: <%=payloads.count%></h5>
<% end %>

<h3>Operating System Breakdown</h3>
<% @o_systems.each do |os, payloads| %>
  <h5><%=os%>: <%=payloads.count%></h5>
<% end %>

<h3>Screen Resolution Breakdown</h3>
<% @resolutions.each do |resolution, payloads| %>
  <h5><%=resolution%>: <%=payloads.count%></h5>
<% end %>

<h3>All Requests</h3>
<table class="table">
  <tr>
    <th>URL</th>
    <th>Operating System</th>
    <th>Browser</th>
    <th>Screen Res.</th>
    <th>Event</th>
  </tr>
  <% @payloads.each do |payload| %>
    <tr>

      <td><a href="<%= @source.identifier %>/urls/<%= payload.url.path %>">/<%= payload.url.path %></a></td>
      <td><%= payload.os %></td>
      <td><%= payload.browser %></td>
      <td><%= payload.resolution %></td>
      <td><a href="<%= @source.identifier %>/events/<%= payload.event.name %>"><%= payload.event.name %></a></td>
    </tr>
  <% end %>
</table>
