<h2><%= @source.identifier.capitalize %> Stats</h2>
<h3>URLs By Requests</h3>
<table class="table">
  <tr>
    <th>URL</th>
    <th>Requests</th>
  </tr>
  <% @requested_urls.each do |url| %>
    <tr>
      <td><a href="urls/<%= url.path %>"><%= url.path%></a></td>
      <td><%= url.requests %></td>
    </tr>
  <%end%>
</table>

<h3>URLs By Average Response Time</h3>
<table class="table">
  <tr>
    <th>URL</th>
    <th>Requests</th>
  </tr>
  <% @response_urls.each do |url| %>
    <tr>
      <td><a href="urls/<%= url.path %>"><%= url.path%></a></td>
      <td><%= url.avg_response_time %></td>
    </tr>
  <%end%>
</table>

<h3>All Requests</h3>
<table class="table">
  <tr>
    <th>URL</th>
    <th>Operating System</th>
    <th>Browser</th>
    <th>Screen Res.</th>
    <th>Response Time</th>
    <th>Event</th>
  </tr>
  <% @payloads.each do |payload| %>
    <tr>
      <td><a href="urls/<%= payload.url.path %>"><%= payload.url.path%></a></td>
      <td><%= payload.os %></td>
      <td><%= payload.browser %></td>
      <td><%= payload.resolution %></td>
      <td><%= payload.responded_in %></td>
      <td><%= payload.event.name %></td>
    </tr>
  <% end %>
</table>
